@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

[epub|type~="z3998:letter"] header{
	text-align: right;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:salutation"] + p,
[epub|type~="z3998:letter"] header + p{
	text-indent: 0;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:recipient"],
[epub|type~="z3998:salutation"]{
	font-variant: small-caps;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-indent: 0;
	text-align: left;
}

.signature{
	font-variant: small-caps;
}

#the-canterville-ghost blockquote:nth-of-type(1){
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

#the-canterville-ghost blockquote:nth-of-type(1) > p:first-child{
	font-variant: small-caps;
	margin-bottom: 1em;
}

#the-canterville-ghost blockquote:nth-of-type(1) p{
	text-align: center;
	text-indent: 0;
}

#the-portrait-of-mr-w-h-2 blockquote:nth-of-type(5){
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	font-variant: small-caps;
	text-align: center;
}

#the-portrait-of-mr-w-h-2 blockquote:nth-of-type(5)footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:poem"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:poem"] + p{
	text-indent: 0;
}

[epub|type~="z3998:poem"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:poem"] p > span + br{
	display: none;
}
